# AirBnB Listings in Los Angeles, CA
##### Data source: http://insideairbnb.com/get-the-data.html
##### Date compiled: May 8, 2020
## 3 - Modeling

### Dependencies

In [27]:
from datetime import datetime

from scipy import stats
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

from utils import utils, plotting

%matplotlib inline

In [28]:
# Settings
pd.options.display.max_columns = 200
pd.options.display.max_rows = 50000
sns.set()
px.set_mapbox_access_token(utils.get_token())

### Data

In [29]:
listings = pd.read_pickle('data/listings2.pkl')
listings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37028 entries, 0 to 37047
Data columns (total 38 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   id                                37028 non-null  int64
 1   by_superhost                      37028 non-null  int64
 2   neighborhood                      37028 non-null  object
 3   zipcode                           37028 non-null  object
 4   latitude                          37028 non-null  float64
 5   longitude                         37028 non-null  float64
 6   property_type                     37028 non-null  object
 7   room_type                         37028 non-null  object
 8   accommodates                      37028 non-null  int64
 9   bathrooms                         37028 non-null  float64
 10  bedrooms                          37028 non-null  float64
 11  beds                              37028 non-null  float64
 12  price                             37028 non-null  float64
 13  security_deposit                  37028 non-null  float64
 14  cleaning_fee                      37028 non-null  float64
 15  guests_included                   37028 non-null  int64
 16  extra_people                      37028 non-null  float64
 17  minimum_nights                    37028 non-null  int64
 18  availability_30                   37028 non-null  int64
 19  availability_60                   37028 non-null  int64
 20  availability_90                   37028 non-null  int64
 21  availability_365                  37028 non-null  int64
 22  number_of_reviews                 37028 non-null  int64
 23  number_of_reviews_ltm             37028 non-null  int64
 24  first_review                      37028 non-null  datetime64[ns]
 25  last_review                       37028 non-null  datetime64[ns]
 26  score_rtg                         28956 non-null  float64
 27  score_accu                        28908 non-null  float64
 28  score_clean                       28909 non-null  float64
 29  score_check                       28896 non-null  float64
 30  score_comm                        28907 non-null  float64
 31  score_loc                         28892 non-null  float64
 32  score_val                         28888 non-null  float64
 33  instant_bookable                  37028 non-null  int64
 34  cancellation_policy               37028 non-null  object
 35  require_guest_profile_picture     37028 non-null  int64
 36  require_guest_phone_verification  37028 non-null  int64
 37  reviews_per_month                 37028 non-null  float64
dtypes: datetime64[ns](2), float64(17), int64(14), object(5)
memory usage: 11.0+ MB

### Filter out listings with an outlier price

In [32]:
list765 = listings[listings.price <= 765].copy()
list765.head()

,id,by_superhost,neighborhood,zipcode,latitude,longitude,property_type,room_type,accommodates,bathrooms,bedrooms,beds,price,security_deposit,cleaning_fee,guests_included,extra_people,minimum_nights,availability_30,availability_60,availability_90,availability_365,number_of_reviews,number_of_reviews_ltm,first_review,last_review,score_rtg,score_accu,score_clean,score_check,score_comm,score_loc,score_val,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,reviews_per_month
0,109,0,Culver City,90230,33.98209,-118.38494,Condominium,Entire home/apt,6,2.0,2.0,3.0,122.0,500.0,240.0,3,25.0,30,0,0,0,38,2,0,2011-08-15,2016-05-15,80.0,10.0,10.0,6.0,8.0,10.0,8.0,0,strict_14_with_grace_period,1,0,0.02
1,344,0,Burbank,91505,34.16562,-118.33458,House,Entire home/apt,6,1.0,3.0,3.0,168.0,0.0,100.0,6,0.0,15,0,1,6,97,8,2,2016-06-14,2019-10-19,97.0,10.0,10.0,10.0,10.0,10.0,10.0,1,flexible,0,0,0.17
2,2708,1,Hollywood,90046,34.09768,-118.34602,Apartment,Private room,1,1.5,1.0,1.0,79.0,450.0,84.0,1,0.0,30,7,7,7,281,24,6,2014-06-09,2020-03-17,97.0,10.0,10.0,10.0,10.0,10.0,10.0,1,strict_14_with_grace_period,0,0,0.33
3,2732,0,Santa Monica,90405,34.00475,-118.48127,Apartment,Private room,1,1.0,1.0,1.0,155.0,0.0,100.0,1,0.0,1,30,60,90,365,21,3,2011-06-06,2019-12-27,94.0,9.0,9.0,9.0,9.0,10.0,9.0,0,strict_14_with_grace_period,0,0,0.19
4,2864,0,Bellflower,90706,33.87619,-118.11397,Apartment,Entire home/apt,2,1.0,1.0,1.0,80.0,100.0,75.0,2,25.0,15,0,0,0,0,0,0,2020-05-08,2020-05-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,strict_14_with_grace_period,0,0,0.00

### Feature elimination